openapi: 3.0.0
info:
  version: 1.0.0
  title: Oppdateringsgrensesnitt for SFKB
  description: |
    Grov oversikt over funksjonalitet:
      - Hente liste over tilgjengelige datasett 
      - Hente metadata for et bestemt datasett
      - Hente data fra et bestemt datasett
        - Med lesetilgang eller skrivetilgang (medfører låsing)
          - områdebegrensning
          - egenskapsspørring (begrenset i første versjon til bygningsnummer eller lokalid)
      - Lagre data til et bestemt datasett
        - Operasjoner som håndteres: nytt objekt, endre objekt og slett objekt
    
    ## Prinsipper for systemet

    ### Delt geometri
    
    Flater består av avgrensningslinjer som ligger lagret som egne objekter. På den måten kan en linje avgrense ingen, én eller flere flater.
    Det er likevel slik at flater hentes ut og lagres med egen geometri for å gjøre det enklere å tegne opp datene, men ved endring av (delte) linjer og flater
    må det tas hensyn til delt geometri. Forsøk på endring av linje eller flate uten tilsvarende endring av evt. delt geometri vil bli avvist av systemet.

    ### Låsing
    
    Foreløpig er det kun `user_lock` som er støttet. Det betyr at data må hentes ut med `user_lock` før de kan sendes inn med endringer. 
    Dette er nærmere beskrevet i de aktuelle kallene.
    
    


  contact:
    name: SFKB Brukerstøtte
    url: https://www.kartverket.no/Prosjekter/Sentral-felles-kartdatabase/brukerstotte/
    
servers:
  - description: Test-server Norkart
    url: https://qmsrest.westeurope.cloudapp.azure.com:8080/v1/
  - url: http://sfkb.kartverket.no/v1
    description: Server hos Kartverket

security:
  - basicAuth: []  # <-- use the same name here
  
tags:
  - name: metadata
    description: "Informasjon om dataset som brukeren har tilgang til"
  - name: features
    description: "Operasjoner på features i et bestemt dataset"
  - name: locks
    description: "Behandling av features som brukeren har låst"
paths:
  /datasets:
    get:
      tags:
       - metadata
      summary: Hent liste over tilgjengelige dataset
      description: |
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til. 
        Dersom brukeren ikke har tilgang til noen dataset, returneres en tom liste.
      operationId: getDatasets
      parameters:        
        - $ref: '#/components/parameters/clientHeaderParam'
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/vnd.kartverket.ngis.datasets+json:  # Media type
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}:
    get:
      tags:
       - metadata
      summary: Hent metadata for et bestemt dataset
      description: |
        Henter utvidet informasjon om et bestemt dataset. 
        Her ligger all informasjon som kommer ut i listen over dataset, og i tillegg en del ekstra informasjon som enten er unødvendig eller for tung å ha med i listen over dataset.
      operationId: getDatasetMetadata
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/vnd.kartverket.ngis.dataset+json:  # Media type
             schema: 
               $ref: '#/components/schemas/Dataset'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/features:
    get:
      tags:
       - features
      summary: Hent ut features fra et dataset
      description: >-
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til.
      operationId: getDatasetFeatures
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lockingParam'
        - $ref: '#/components/parameters/bboxParam'
        - in: query
          name: query
          schema:
            type: string
          description: |
            Filter på egenskaper og/eller objekttype for å begrense hvilke features som hentes ut.
            
            Spørringer er foreløpig begrenset til bygningsnummer og lokalid.
            
            Generell regel for egenskapsspørringer:
            
            For å angi hvilken objekttype og hvilket attributt (full struktur med struct-/liste-egenskaper) det spørres etter, bruker vi
            
            > \<objekttypenavn\>/\<attributtnavn\> [ / \<attributtnavn\> …]
          
            Hvis vi ikke ønsker å begrense spørringen til en bestemt objekttype, kan vi angi * som <objekttypenavn>.
          examples:
            bygningsnummer:
              value: eq(Bygning/bygningsnummer,1234)
              summary: Spørring etter et bestemt bygningsnummer for objekttypen Bygning
            lokalid:
              value: eq(*/identifikasjon/lokalid,000a7b9b-7088-482f-a3cf-9761b97a54b6)
              summary: |
                Spørring etter et bestemt objekt med gitt lokalid
                Når et objekt hentes ut med lokalid er det normalt ikke nødvendig å filtrere på objekttype, derfor er objekttypen angitt med `*`.

            
            
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.sosi+json; version=1.0:
             schema:
              type: object
             examples: 
              singlePoint:
                description: eksempel på punkt
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/point/Bygning.json'
              singleLineString:
                description: eksempel på linje
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/linestring/Mønelinje.json'
              singleArc:
                description: |
                  eksempel på bue
                  
                  Standarden GeoJSON har ingen egen type for bue. 
                  
                  For at buer enkelt skal kunne leses av klienter, er derfor bue-geometrien konvertert til en linje med `is_arc=true` i `geometry_properties`.
                  Første, midtre og siste punkt beskriver buen dersom klienten vil implementere korrekt tegning av denne.
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/linestring/Mønelinje.json'
              simplePolygon:
                description: |
                  eksempel på flate med en enkel avgrensningslinje

                  Representasjonspunktet ligger i `geometry_properties` som `position` og må ligge innenfor flaten.

                  Lenken til avgrensningslinjer (lokalid) ligger i `geometry_properties` under `exterior`. 
                  Minus foran betyr at linjen er brukt med motsatt retning i flaten.

                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/polygon/ArealressursFlate_enkel.json'

            application/vnd.kartverket.sosi+gml; version=1.0:
             schema:
              type: object
             examples: 
              singlePoint:
                description: eksempel på punkt
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/point/Bygning.xml'
              singleLineString:
                description: eksempel på linje
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/linestring/Mønelinje.xml'
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
    post:
      tags:
       - features
      summary: Endre features i et dataset
      description: >-
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til.
      operationId: updateDatasetFeatures
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lockingParam'
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/vnd.kartverket.sosi+wfs-t; version=1.0:
           schema:
            type: object
          application/vnd.kartverket.sosi+json; version=1.0:
            schema:
              type: object
            examples: 
              singlePoint:
                description: | 
                  eksempel på oppdatering av punkt

                  Den eneste forskjellen i innholdet er `update : { action : "Replace" }` som angir hvilken operasjon som skal gjøres.

                  Action kan være `Create`, `Replace` eller `Erase`. 
                  Ved `Replace` eller `Erase` med `user_lock` må objektet være hentet ut med `user_lock` før det kan endres. 
                externalValue: 'https://raw.githubusercontent.com/kartverket/SFKB-API/meastp_fix_examples/spec/examples/point/Bygning_update.json'
           
      responses: #TODO: valideringsfeil
        '200':
          description: OK
          content:
            application/vnd.kartverket.ngis.edit_features_summary+json:
              schema:
                type: object
                properties:
                  features_created:
                    type: integer
                  features_replaced:
                    type: integer
                  features_erased:
                    type: integer
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren

  /datasets/{datasetId}/features/{lokalId}:
    get:
      tags:
       - features
      summary: Hent ut en bestemt feature fra et dataset
      description: >-
        Henter ut en bestemt feature med mulighet for å få med refererte objekter for redigering.
      operationId: getDatasetFeature
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lokalIdParam'
        - $ref: '#/components/parameters/lockingParam'
        - in: query
          name: references
          schema:
            type: string
            enum: [none, direct, all]
          required: true
          description: |
            Angir hvilke refererte features som skal hentes ut i tillegg til feature det spørres direkte etter med lokalid.
            
            Punkter har ingen referanser, og parameteret påvirker derfor ikke uthenting av et punkt.
            
            `none` - Ingen refererte features hentes ut. Ingen ekstra features låses.
            - Flater får *ikke* med linje-features til avgrensningskurver.
            
            `direct` - Features med direkte referanser hentes ut. Kun direkte referanser låses.
            - Kurver får med features til flater som bruker kurven i avgrensningen, samt de andre linje-features til avgrensningskurvene i flatene. Både kurven og alle flatene låses, men ikke de andre linje-features i avgrensningen i flatene.
            - Flater får med alle linje-features til avgrensningskurvene i flaten. Kun flaten låses.
            
            `all` - Features med direkte og indirekte tilhørende referanser hentes ut. Alle referanser som hentes ut låses.
            - Kurver får i tillegg til referanser fra `direct` også med:
              - flate-features som har avgrensningskurver som begynner eller slutter i valgt linjes endepunkter 
              - linje-features i flate-features i forrige pkt som begynner eller slutter i valgt linjes endepunkter
              
            - Flater får samme referanser som i `direct`. Både flaten og alle avgrensningskurvene låses.
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.sosi+gml; version=1.0:
             schema:
              type: object
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/features/{lokalId}/attributes:
    get:
      tags:
       - features
      summary: Hent ut egenskapene til en bestemt feature fra et dataset
      description: >-
        Henter ut alle egenskapene til en bestemt feature.
      operationId: getDatasetFeatureAttributes
      parameters:
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lokalIdParam'
        - $ref: '#/components/parameters/lockingParam'     
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.ngis.attributes+json; version=1.0:
             schema:
              type: object
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
    put:
      tags:
       - features
      summary: Endre egenskapene til en bestemt feature i et dataset
      description: >-
        Oppdaterer alle egenskapene til en bestemt feature i et dataset.
      operationId: updateDatasetFeatureAttributes
      parameters:
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lokalIdParam'
        - $ref: '#/components/parameters/lockingParam'
      requestBody:
        required: true
        content:
          application/vnd.kartverket.ngis.attributes+json; version=1.0:
           schema:
            type: object     
      responses:
        '200':
          description: OK
          content:
            application/vnd.kartverket.ngis.attributes+json; version=1.0:
             schema:
              type: object  
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/locks:
    get:
      tags:
       - locks
      summary: Hent informasjon om brukerens låste features i et bestemt dataset.
      description: |
        Henter bl.a. informasjon om hvilke objekter brukeren har låst i et bestemt dataset.
      operationId: getDatasetLocks
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lockingParam'
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/vnd.kartverket.ngis.locks+json:  # Media type
             schema: 
               $ref: '#/components/schemas/Locks'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
    delete:
      tags:
        - locks
      summary: Fjerne alle låser brukeren har i et bestemt dataset
      description: |
        Fjerne alle låser brukeren har i et bestemt dataset
      operationId: deleteDatasetLocks        
      parameters:
        - $ref: '#/components/parameters/clientHeaderParam'
        - $ref: '#/components/parameters/datasetIdParam'
        - $ref: '#/components/parameters/lockingParam'
      responses:
        '204': # Success
          description: No Content
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
components:
  securitySchemes:
    basicAuth:     # <-- arbitrary name for the security scheme
      type: http
      scheme: basic
      description: |
        Brukernavn og passord som er gyldige mot dataset som skal brukes. 
        For QMS er dette brukernavn og passord mot oppgaven.
  schemas:
    Dataset:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        kommune:
          type: integer
        fylke:
          type: integer
        sone:
          type: integer
        description:
          type: string
        #hele_landet som egen metadata?
        resolution:
          type: number
          format: double
        coordinate_reference_system:
          type: string
          pattern: '^EPSG:\d+$'
        schema_url:
          type: string
          format: uri
        access:
          type: string
          enum: [read_only, read_write]
        bbox: 
          $ref: '#/components/schemas/BoundingBox' 
      required:
        - id
        - name
        - access
      example:
        id: '07b59e3d-a4b6-4bae-ac4c-664d3dc3d778'
        name: 'AR5'
        sone: 22
        resolution: 0.001
        coordinate_reference_system: 'EPSG:5972'
        access: read_write
        bbox:
          ll: [10.0, 100.0]
          ur: [20.0, 200.0]
    Locks:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer # TODO: Denne brukes ikke for brukerlåser, men trengs for andre låser i fremtiden.
          username:
            type: string
          features:
            type: array
            items:
              type: object
              properties:
                lokalid:
                  type: string
                  format: uuid
      example:
        - id: 15003
          username: joeuser
          features:
            - lokalid: '933f0223-2598-485b-b886-3c69650b22b0'
            - lokalid: 'ddb688c3-b2d9-47eb-93d2-cc4704b6394c'
    BoundingBox:
      type: array
      minItems: 4
      maxItems: 6
      items:
        type: number
      example: [10.0, 10.0, 20.0, 20.0]
    # Schema for error response body
    Error:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      required:
        - type
        - title
        - detail
       
  parameters:
    clientHeaderParam:
      in: header
      name: X-Client-Product-Version
      schema:
        type: string
      required: true
      example: 'ExampleApp 10.0.0 (Build 54321)'
    datasetIdParam:
      in: path
      name: datasetId
      schema:
        type: string
        format: uuid
      required: true
      description: UUID of the dataset to get
      example: dc3507da-a95f-4482-b762-f140f5a11788
    bboxParam:
      in: query
      name: bbox
      style: form
      explode: false
      schema:
        $ref: '#/components/schemas/BoundingBox'
      examples:
        smallbbox:
          summary: Et 10x10m vindu
          value: [10.0, 100.0, 20.0, 200.0] # ?bbox=10.0,100.0,20.0,200.0
      description: |
        Henter ut objekter i et bestemt område (angitt med et rektangel)
        
        Dette kan være aktuelt for å få ut alle objekter som ikke er direkte knyttet til et objekt, som f.eks mønelinje og takkant til en bygning.

    lockingParam:
      in: query
      name: locking
      style: deepObject
      explode: true
      schema:
        type: object
        properties:
          type:
            type: string
            enum: [user_lock,lock_id,optimistic_locking]
          id:
            type: integer
            minimum: 1
        required:
          - type
      description: |
        Angir låsetype som skal brukes (foreløpig er kun `user_lock` støttet, og denne bruker ikke `id`). Krever at brukeren har skrivetilgang mot dataset'et.
        
        *user_lock*

        Hver bruker har én lås per dataset. Hver gang data hentes ut med `user_lock` legges objektene til denne låsen. 
        Alle objekter i låsen låses opp neste gang brukeren skriver data til dataset'et.

        Låsen vil fjernes neste gang brukeren skriver data til dataset'et med `user_lock`, eller dersom låsen slettes.
    lokalIdParam:
      in: path
      name: lokalId
      schema:
        type: string
        format: uuid
      required: true
      description: Identifikasjon.Lokalid til objektet
