openapi: 3.0.0
info:
  version: 1.0.0
  title: Oppdateringsgrensesnitt for SFKB
  description: |
    Grov oversikt over funksjonalitet:
      - Hente liste over tilgjengelige datasett 
      - Hente metadata for et bestemt datasett
      - Hente data fra et bestemt datasett
        - Med lesetilgang eller skrivetilgang (medfører låsing)
          - områdebegrensning
          - egenskapsspørring (begrenset i første versjon til bygningsnummer eller lokalid)
      - Lagre data til et bestemt datasett
        - Operasjoner som håndteres: nytt objekt, endre objekt og slett objekt
  contact:
    name: SFKB Brukerstøtte
    url: https://www.kartverket.no/Prosjekter/Sentral-felles-kartdatabase/brukerstotte/
    
servers:
# Added by API Auto Mocking Plugin
  - description: Test-server Norkart
    url: https://qmsrest.westeurope.cloudapp.azure.com:8080/v1/
  - url: http://sfkb.kartverket.no/v1
    description: Server hos Kartverket

security:
  - basicAuth: []  # <-- use the same name here
  
tags:
  - name: Metadata
    description: "Informasjon om dataset som brukeren har tilgang til"
  - name: features
    description: "Operasjoner på features i et bestemt dataset"
  - name: locks
    description: "Behandling av features som brukeren har låst"
paths:
  /datasets:
    get:
      tags:
       - Metadata
      summary: Hent liste over tilgjengelige dataset
      description: |
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til. 
        Dersom brukeren ikke har tilgang til noen dataset, returneres en tom liste.
      operationId: getDatasets
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/json:  # Media type
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}:
    get:
      tags:
       - Metadata
      summary: Hent metadata for et bestemt dataset
      description: |
        Henter utvidet informasjon om et bestemt dataset. 
        Her ligger all informasjon som kommer ut i listen over dataset, og i tillegg en del ekstra informasjon som enten er unødvendig eller for tung å ha med i listen over dataset.
      operationId: getDatasetMetadata
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/json:  # Media type
             schema: 
               $ref: '#/components/schemas/Dataset'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/features:
    get:
      tags:
       - features
      summary: Hent ut features fra et dataset
      description: >-
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til.
      operationId: getDatasetFeatures
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - $ref: '#/components/parameters/lockingParam'
        - in: query
          name: bbox
          schema:
            $ref: '#/components/schemas/BoundingBox' 
          description: |
            Henter ut objekter i et bestemt område (angitt med et rektangel)
            
            Dette kan være aktuelt for å få ut alle objekter som ikke er direkte knyttet til et objekt, som f.eks mønelinje og takkant til en bygning.
          
            Eksempel: Hent ut et 10x10m rektangel
            
            **TODO: Usikker på syntaks**
            
            ?bbox=(10,10,20,20)
            
        - in: query
          name: query
          schema:
            type: string
          description: |
            Filter på egenskaper og/eller objekttype for å begrense hvilke features som hentes ut.
            
            Dersom objekttypen ikke skal begrenses, kan den angis med `*`
            
            Eksempel: Hent en bygning med bestemt bygningsnummer
            
            `?query=eq(Bygning/bygningsnummer,1234)`
            
            Eksempel: Hent et objekt med bestemt lokalid
            
            `?query=eq(*/identifikasjon/lokalid,000a7b9b-7088-482f-a3cf-9761b97a54b6)`
            
            Merk: Når et objekt hentes ut med lokalid er det normalt ikke nødvendig å filtrere på objekttype, derfor er objekttypen angitt med `*`.
            
            Merk: Spørringer er foreløpig begrenset til eksemplene over, nemlig spørringer etter bygningsnummer og lokalid.
            
            Generell regel for egenskapsspørringer:
            
            For å angi hvilken objekttype og hvilket attributt (full struktur med struct-/liste-egenskaper) det spørres etter, bruker vi
            
            > \<objekttypenavn\>/\<attributtnavn\> [ / \<attributtnavn\> …]
          
            Hvis vi ikke ønsker å begrense spørringen til en bestemt objekttype, kan vi angi * som <objekttypenavn>.

            
            
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.sosi+gml; version=1.0:
             schema:
              type: object
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
    post:
      tags:
       - features
      summary: Endre features i et dataset
      description: >-
        Henter en liste over alle dataset som brukeren har lese- eller skrivetilgang til.
      operationId: updateDatasetFeatures
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - $ref: '#/components/parameters/lockingParam'
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/vnd.kartverket.sosi+wfs-t; version=1.0:
           schema:
            type: object
           
      responses: #TODO: valideringsfeil
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  features_created:
                    type: integer
                  features_replaced:
                    type: integer
                  features_erased:
                    type: integer
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren

  /datasets/{datasetId}/features/{lokalId}:
    get:
      tags:
       - features
      summary: Hent ut en bestemt feature fra et dataset
      description: >-
        HEnter ut en bestemt feature med mulighet for å få med refererte objekter for redigering.
      operationId: getDatasetFeature
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - in: path
          name: lokalId
          schema:
            type: string
            format: uuid
          required: true
          description: Identifikasjon.Lokalid til objektet som skal hentes ut
        - $ref: '#/components/parameters/lockingParam'
        - in: query
          name: references
          schema:
            type: string
            enum: [none, direct, all]
          required: true
          description: |
            Angir hvilke refererte features som skal hentes ut i tillegg til feature det spørres direkte etter med lokalid.
            
            Punkter har ingen referanser, og parameteret påvirker derfor ikke uthenting av et punkt.
            
            `none` - Ingen refererte features hentes ut. Ingen ekstra features låses.
            - Flater får *ikke* med linje-features til avgrensningskurver.
            
            `direct` - Features med direkte referanser hentes ut. Kun direkte referanser låses.
            - Kurver får med features til flater som bruker kurven i avgrensningen, samt de andre linje-features til avgrensningskurvene i flatene. Både kurven og alle flatene låses, men ikke de andre linje-features i avgrensningen i flatene.
            - Flater får med alle linje-features til avgrensningskurvene i flaten. Kun flaten låses.
            
            `all` - Features med direkte og indirekte tilhørende referanser hentes ut. Alle referanser som hentes ut låses.
            - Kurver får i tillegg til referanser fra `direct` også med:
              - flate-features som har avgrensningskurver som begynner eller slutter i valgt linjes endepunkter 
              - linje-features i flate-features i forrige pkt som begynner eller slutter i valgt linjes endepunkter
              
            - Flater får samme referanser som i `direct`. Både flaten og alle avgrensningskurvene låses.
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.sosi+gml; version=1.0:
             schema:
              type: object
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/features/{lokalId}/attributes:
    get:
      tags:
       - features
      summary: Hent ut egenskapene til en bestemt feature fra et dataset
      description: >-
        Henter ut alle egenskapene til en bestemt feature.
      operationId: getDatasetFeatureAttributes
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - in: path
          name: lokalId
          schema:
            type: string
            format: uuid
          required: true
          description: Identifikasjon.Lokalid til objektet som skal hentes ut
        - $ref: '#/components/parameters/lockingParam'     
      responses:
        '200':      # Response
          description: OK
          content: # Response body
            application/vnd.kartverket.ngis.attributes+json; version=1.0:
             schema:
              type: object
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '406':
          description: Klienten har ugyldig Accept-header og kan ikke motta data på et format som serveren kan levere
        '5XX':
          description: Intern feil på serveren
    put:
      tags:
       - features
      summary: Endre egenskapene til en bestemt feature i et dataset
      description: >-
        Oppdaterer alle egenskapene til en bestemt feature i et dataset.
      operationId: updateDatasetFeatureAttributes
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - in: path
          name: lokalId
          schema:
            type: string
            format: uuid
          required: true
          description: Identifikasjon.Lokalid til objektet som skal hentes ut
        - $ref: '#/components/parameters/lockingParam'
      requestBody:
        required: true
        content:
          application/vnd.kartverket.ngis.attributes+json; version=1.0:
           schema:
            type: object     
      responses:
        '200':
          description: OK
          content:
            application/vnd.kartverket.ngis.attributes+json; version=1.0:
             schema:
              type: object  
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
        '5XX':
          description: Intern feil på serveren
  /datasets/{datasetId}/locks:
    get:
      tags:
       - locks
      summary: Hent informasjon om brukerens låste features i et bestemt dataset.
      description: |
        Henter bl.a. informasjon om hvilke objekter brukeren har låst i et bestemt dataset.
      operationId: getDatasetLocks
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to get
        - $ref: '#/components/parameters/lockingParam'
      responses:
        '200':      # Response
          description: OK
          content:  # Response body
            application/json:  # Media type
             schema: 
               $ref: '#/components/schemas/Locks'    # Reference to object definition
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
    delete:
      tags:
        - locks
      summary: Fjerne alle låser brukeren har i et bestemt dataset
      description: |
        Fjerne alle låser brukeren har i et bestemt dataset
      operationId: deleteDatasetLocks        
      parameters:
        - in: path
          name: datasetId
          schema:
            type: string
            format: uuid
          required: true
          description: UUID of the dataset to delete locks in
        - $ref: '#/components/parameters/lockingParam'
      responses:
        '204': # Success
          description: No Content
        '401':
          description: Gyldig autentisering av brukeren mangler eller er ugyldig
        '403':
          description: Ugyldig brukernavn og/eller passord
        '404':
          description: Fant ikke angitt dataset
components:
  securitySchemes:
    basicAuth:     # <-- arbitrary name for the security scheme
      type: http
      scheme: basic
  schemas:
    Dataset:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        kommune:
          type: integer
        fylke:
          type: integer
        sone:
          type: integer
        description:
          type: string
        #hele_landet som egen metadata?
        resolution:
          type: number
          format: double
        coordinate_reference_system:
          type: string
          pattern: '^EPSG:\d+$'
        schema_url:
          type: string
          format: uri
        access:
          type: string
          enum: [read_only, read_write]
        bbox: 
          $ref: '#/components/schemas/BoundingBox' 
      required:
        - id
        - name
        - access
      example:
        id: '07b59e3d-a4b6-4bae-ac4c-664d3dc3d778'
        name: 'AR5'
        sone: 22
        resolution: 0.001
        coordinate_reference_system: 'EPSG:5972'
        access: read_write
        bbox:
          ll: [10.0, 100.0]
          ur: [20.0, 200.0]
    Locks:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer # TODO: Denne brukes ikke for brukerlåser, men trengs for andre låser i fremtiden.
          username:
            type: string
          features:
            type: array
            items:
              type: object
              properties:
                lokalid:
                  type: string
                  format: uuid
      example:
        - id: 15003
          username: joeuser
          features:
            - lokalid: '933f0223-2598-485b-b886-3c69650b22b0'
            - lokalid: 'ddb688c3-b2d9-47eb-93d2-cc4704b6394c'
        
          
    BoundingBox:
      type: object
      properties:
        ll:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
            format: double
        ur:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
            format: double
      example:
        ll: [10.0, 100.0]
        ur: [20.0, 200.0]
    # Schema for error response body
    Error:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      required:
        - type
        - title
        - detail
       
  parameters:
    lockingParam:
      in: query
      name: locking
      style: deepObject
      explode: true
      schema:
        type: object
        properties:
          type:
            type: string
            enum: [user_lock,lock_id,optimistic_locking]
          id:
            type: integer
            minimum: 1
        required:
          - type
      description: |
        Låser objektene som hentes ut for oppdatering. Krever skrivetilgang mot dataset'et.
        
        Foreløpig er det kun brukerlås (locking[type]=user_lock) som støttes. Kallet legger da til objekter i brukerlåsen. 
        Låsen vil fjernes neste gang brukeren skriver data til dataset'et, eller dersom låsen slettes.
